doctype html
html(data-ng-app='wcbtapp')
	head
		title(ng-init='')
		meta(charset='utf-8')
		meta(name="viewport" content='width=device-width')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300')
		link(rel='stylesheet/less', type='text/css' href='/stylesheets/app.less')
		script(src='/components/less/dist/less-1.7.0.js')
	body
		div.navbar.sticky
			span
				a.title-text(href='/') KillTracker
				span.small-text  for
					a(href='http://www.playragnarok.com' target='_blank')  iRO Classic
		.navbar-filler
		div.container
			div.body(data-ng-view='')
			script(src='/components/angular/angular.js')
			script(src='/components/angular-route/angular-route.js')
			script(src='/app/app.js')
			script(src='/app/controllers.js')
			script(src='/app/services.js')
			script(src='/app/directives.js')
		div.footer.sticky
			all :-)
		.footer-filler