/* general use css */

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.clear {
    clear: both;
}

.search label > span,
.fakehidden {
    position: absolute;
    left: -9999px;
}

/* mobile first design */

body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 1, 0.1);
    text-align: center;
    background: gray;
}

input {
        font-family: 'Open Sans', sans-serif;
}

header {
    display: block;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background: #0a0a0a;
    padding: 0.25em;
    text-align: center;
    color: white;
}

.hspace {
    height: 78px;
}

.logo {
    display: block;
    font-size: 2em;
}

.logo > span {
    font-size: 0.5em;
}

.search label {
    display: block;
    float: left;
    height: 25px;
    width: 25px;
}

.search input {
    font-size: 1.25em;
    background-color: transparent;
    border: none;
    color: gray;
    margin: 0;
    margin-top: 0.25em;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 2px 6px;
}

.search input:hover,
.search input:focus {
    outline: none;
    border-bottom: 1px solid gray;
}

.info {
    font-size: 1.5em;
    display: block;
    margin: 20px;
}

.info a {
    display: block;
    margin: 10px;
    word-wrap: break-word;
}

.card {
    display: block;
    border-bottom: 1px solid black;
    height: 100px;
    position: relative;
    text-align: center;
    background: white;
    background-repeat: no-repeat;
    background-position: center;
}

countdown {
    display: block;
    margin: 5px;
}

.name {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: left;
    z-index: 1;
} 

.name > a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

.name > div {
    margin: 5px;
}

.reset {
    display: inline-block;
    height: 100px;
    width: 170px;
    z-index: 999;
    background: url('/images/respawn.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.25;
    position: relative;
}

.stats {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.map {
    display: inline-block;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    background-size: cover;
}

.fspace {
    height: 180px;
}

footer {
    background: url('http://i.imgur.com/mciBns1.png') no-repeat center;
    background-size: cover;
    line-height: 180px;
    height: 180px;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 2em;
    color: black;
    width: 100%;
    z-index: -999;
}

/**************** pin css **************************/
.name label > span {
    position: absolute;
    left: -999px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label,
input[type=checkbox]:checked + label {
    background-repeat: no-repeat;
    background-position: center;
    height: 19px;
    width: 19px;
    display: inline-block;
}

input[type=checkbox] + label {
    background-image: url('/images/staroff.png');
}

input[type=checkbox]:checked + label {
    background-image: url('/images/staron.png');
}

/********************************************************/
/* medium */
@media screen and (min-width: 650px) {
    #container {
        background: gray;
    }

    #body {
        max-width: 900px;
        margin: 0 auto;
        display: inline-block;
        margin-bottom: -2px;
    }

    .logo {

    }

    .card {
        width: 50%;
        float: left;
    }
}

/* big */
@media screen and (min-width: 920px) {
    #body { 
        width: 900px;
    }
}