<div class="card" style="background-image: url({{ monsterimg + card.monsterid + '.png' }})" ng-repeat="card in cards | orderBy:['-pinned','secondsTillSpawn', 'monstername'] | filter: search">
    <span class="name">
        <input ngChecked="card.pinned" ng-change="pin(card.id, card.pinned, user)" ng-model="card.pinned" id="pin{{ card.id }}" type="checkbox"/>
        <label for="pin{{ card.id }}"><span>pin</span></label>
        <a target="_blank" href="{{ classic.monsterinfo + card.monsterid + '/' }}">{{ card.monstername }}</a>
        <div>map: {{ card.mapid }}</div>
        <div>kills: <span ng-if="!card.amountKilled">0</span> {{ card.amountKilled }}</div>
        <countdown ng-if="card.secondsTillSpawn" count-down>{{ card.msg }} {{ card.hrs }} {{ card.mins }} {{ card.secs }}</countdown>
    </span>

    <a class="reset" href="" ng-Click="respawn(card.id, card.spawntime, user)"></a>

    <a class="map" target="_blank" style="background-image: url({{ mapimg + card.mapid + '.png' }});" href="{{ classic.mapinfo + card.mapid + '/' }}"></a>
</div>