<ul class="info">
	<li>
		Replace CHANGEME in the url with something you will remember (and isn't simple! this site isn't secure, anyone with your url can access your data!), then bookmark it (case sensitive!)
	</li>
	<li>
		Go to the bookmarked page from now on when you want to track your boss kills :), e.g. <a href="#/cybertown">www.robt.heroku.com/#/cYbErTOWn</a>
	</li>
	<li>
		Sorted by pinned > time remaining > alphabetical.
	</li>
	<li>
		Click the 'star' to pin a card.
	</li>
	<li>
		Click the refresh icon on the monster sprite to (re)start the countdown.
	</li>
	<li>
		No need to click save, your data is automatically saved to the server.
	</li>
	<li>
		Click on the monster name or map to view their details.
	</li>
	<li>
		Use the "filterby:" input box to search by monster name or map id.
	</li>
	<li>
		There is no renewal support at the moment.
	</li>
</ul>